@charset "UTF-8";
body {
  font-family: 'Nunito', sans-serif; }

/* INDEX */
.div-container-fondo {
  background-color: #81b29a;
  padding-bottom: 50px;
  padding-top: 100px; }

.div__bajada--disenio-interiores {
  position: relative;
  padding-bottom: 150px;
  padding-top: 50px; }

.media__div__img-size {
  opacity: 70%; }

.bajada--texto-encima {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Tamaño del recuadro */
  width: 80%;
  height: 45%;
  padding: 1rem 2rem 1rem 2rem;
  /* Tamaño del recuadro */
  background-color: rgba(244, 241, 222, 0.8);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.index__div__h1-estilos {
  color: black;
  font-weight: 200;
  font-size: 4rem; }

.div__bajada--font-size {
  font-size: 1.5rem; }

.div--contenedor-h2 {
  z-index: 50;
  position: relative;
  display: flex;
  justify-content: center; }

.div__h2-fondo {
  background-color: #e07a5f;
  border-radius: 30px;
  height: 120px;
  position: absolute;
  top: -60px;
  display: flex;
  justify-content: center;
  align-items: center; }

.carousel--img {
  width: 100%;
  height: 500px;
  object-fit: cover; }

.slider {
  padding: 0; }

.index__contacto {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #e07a5f; }

.index__contacto-imgsize {
  width: 100%;
  height: 450px;
  object-fit: cover;
  opacity: .7; }

.index__contacto-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.div__col {
  padding: 0; }

/* FIN INDEX */
@media (max-width: 800px) {
  /* INDEX */
  .media__div__h2 {
    font-size: 1.2rem; }
  .div__h2-fondo {
    height: 70px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    top: -35px; }
  .carousel--img {
    height: 250px; }
  .div__bajada--disenio-interiores {
    padding-top: 20px;
    padding-bottom: 70px; }
  .bajada--texto-encima {
    height: 60%; }
  .media__div__img-size {
    height: 450px;
    width: 100%;
    object-fit: cover; }
  .div__bajada--font-size {
    font-size: 1rem; }
  .index__div__h1-estilos {
    font-weight: lighter;
    font-size: 1.7rem; } }

@media (max-width: 1050px) {
  .index__contacto {
    padding-top: 50px;
    padding-bottom: 50px; } }

/* SERVICIOS */
.servicios__text-start {
  font-size: 1rem; }

.servicios__text-end {
  font-size: 1rem;
  text-align: end; }

.servicios__div--diseño-interiores {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.servicios__div--muebles-medida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }

/* Animacion IMG Grande */
.cont-img-grande {
  position: relative;
  display: flex; }

.img-grande-1 {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-top: 50px; }

.img-grande-2 {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  position: absolute;
  /* Animación */
  animation-name: serv-img-gr-2;
  animation-iteration-count: infinite;
  animation-duration: 16s; }

.img-grande-3 {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  position: absolute;
  /* Animación */
  animation-name: serv-img-gr-3;
  animation-iteration-count: infinite;
  animation-duration: 16s; }

@keyframes serv-img-gr-2 {
  0% {
    opacity: 0%; }
  20% {
    opacity: 0%; }
  30% {
    opacity: 100%; }
  50% {
    opacity: 100%; }
  60% {
    opacity: 0%; }
  100% {
    opacity: 0%; } }

@keyframes serv-img-gr-3 {
  0% {
    opacity: 0%; }
  50% {
    opacity: 0%; }
  60% {
    opacity: 100%; }
  90% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }

/* Fin Animacion IMG Grande */
/* Animacion IMG Chica */
.img-chica-1 {
  width: 205px;
  height: 150px;
  object-fit: cover;
  /*animacion*/
  animation-name: serv-img-chica-1;
  animation-iteration-count: infinite;
  animation-duration: 16s; }

.img-chica-2 {
  width: 205px;
  height: 150px;
  object-fit: cover;
  /* Animacion */
  animation-name: serv-img-chica-2;
  animation-iteration-count: infinite;
  animation-duration: 16s; }

.img-chica-3 {
  width: 205px;
  height: 150px;
  object-fit: cover;
  /* Animacion */
  animation-name: serv-img-chica-3;
  animation-iteration-count: infinite;
  animation-duration: 16s; }

@keyframes serv-img-chica-1 {
  0% {
    opacity: 100%; }
  20% {
    opacity: 100%; }
  30% {
    opacity: 30%; }
  90% {
    opacity: 30%; }
  100% {
    opacity: 100%; } }

@keyframes serv-img-chica-2 {
  0% {
    opacity: 30%; }
  20% {
    opacity: 30%; }
  30% {
    opacity: 100%; }
  50% {
    opacity: 100%; }
  60% {
    opacity: 30%; }
  100% {
    opacity: 30%; } }

@keyframes serv-img-chica-3 {
  0% {
    opacity: 30%; }
  50% {
    opacity: 30%; }
  60% {
    opacity: 100%; }
  90% {
    opacity: 100%; }
  100% {
    opacity: 30%; } }

.img-cortinados {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-top: 150px; }

.img-reciclado {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-top: 50px; }

.div__h2-contenido-reciclado {
  position: absolute;
  top: 7%;
  left: 6%; }

.div__h2-contenido-cortinado {
  position: absolute;
  top: 22%;
  left: 4%; }

.div__h2-texto {
  color: white;
  font-size: 4rem;
  text-shadow: 0 0 10px gray; }

.servicios__contenedor-cliente {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px; }

.cartel-cliente {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 100px;
  box-shadow: 0 0 15px #928f8f;
  background-color: #e07a5f; }

.img-clientes-contenedor {
  height: 350px;
  width: 100%;
  margin-bottom: 50px;
  background-color: #f2cc8f;
  border-radius: 10px;
  padding: 0;
  box-shadow: 5px 5px 10px #cfcfcf; }

.img-cliente-contenido {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0 0 10px 10px; }

.img-cliente {
  width: 50px;
  height: 50px;
  object-fit: cover; }

.comentario {
  width: 100%;
  height: 150px;
  border-radius: 8px 8px 0 0;
  padding: 10px; }

.div__p-texto {
  font-size: .8rem;
  text-align: center; }

@media (max-width: 400px) {
  .img-grande-1 {
    height: 250px;
    margin-top: 30px;
    margin-bottom: 20px; }
  .img-grande-2 {
    height: 250px;
    margin-top: 30px;
    margin-bottom: 20px; }
  .img-grande-3 {
    height: 250px;
    margin-top: 30px;
    margin-bottom: 20px; }
  .img-clientes-contenedor {
    margin-top: 20px;
    margin-bottom: 20px; }
  .servicios__div--diseño-interiores {
    align-items: center; }
  .servicios__text-start {
    text-align: center; }
  .servicios__div--muebles-medida {
    align-items: center; }
  .servicios__text-end {
    text-align: center; }
  .img__ss-contenedor {
    width: 100%;
    height: 250px;
    margin-top: 30px;
    object-fit: cover; }
  .servicios__media__div__h1 {
    font-size: 1.5rem; } }

@media (max-width: 1050px) {
  .img-chica-1 {
    width: 140px;
    height: 100px;
    margin-bottom: 20px; }
  .img-chica-2 {
    width: 140px;
    height: 100px;
    margin-bottom: 20px; }
  .img-chica-3 {
    width: 140px;
    height: 100px;
    margin-bottom: 20px; } }

@media (max-width: 800px) {
  .img-chica-1 {
    width: 100px;
    height: 100px;
    margin-bottom: 20px; }
  .img-chica-2 {
    width: 100px;
    height: 100px;
    margin-bottom: 20px; }
  .img-chica-3 {
    width: 100px;
    height: 100px;
    margin-bottom: 20px; }
  .img-grande-1 {
    height: 200px;
    margin-top: 0px; }
  .img-grande-2 {
    height: 200px;
    margin-top: 0px; }
  .img-grande-3 {
    height: 200px;
    margin-top: 0px; } }

@media (max-width: 650px) {
  .img-cortinados {
    margin-top: 0px;
    height: 200px; }
  .img-reciclado {
    height: 200px; }
  .div__h2-contenido-reciclado {
    top: 15%; }
  .div__h2-contenido-cortinado {
    top: 0%; } }

/*------------ Galeria ------------*/
button {
  margin: 0;
  padding: 0; }

.galeria--imagen {
  height: 250px;
  width: 100%;
  object-fit: cover;
  padding: 5px; }

.galeria--imagen:hover {
  opacity: 70%; }

.galeria__modal-h500 {
  width: 100%;
  height: 500px;
  object-fit: cover; }

.galeria__div__button--estilos {
  background-color: white;
  border: none; }

.galeria__div__button--estilos:focus {
  outline: none; }

@media (max-width: 800px) {
  .galeria__modal-h500 {
    width: 100%;
    height: 300px;
    object-fit: cover; }
  .galeria__modal-mt {
    margin-top: 50%; } }

.div-backcolor {
  background-color: #f4f1de; }

.div-padding {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center; }

.bajada__contenedor--img {
  height: 400px;
  width: 100%;
  background-image: url(../imagenes/cocina-index-1.jpg);
  background-attachment: fixed; }

.bajada--texto {
  height: 100px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px; }

.div__p-size {
  font-size: 1rem;
  text-align: center;
  margin-top: 20px; }

.nosotros__div-color-fondo {
  background-color: #81b29a; }

.img-contacto {
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px; }

.div__form-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url(../imagenes/fondo-contacto.jpg);
  background-size: 100vw;
  background-attachment: fixed; }

form {
  width: 70%;
  background-color: rgba(129, 178, 154, 0.9);
  padding: 20px 100px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 5px 10px gray; }

.div-input {
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  width: 100%; }

textarea {
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 400px; }

.contacto__div-botones {
  display: flex;
  justify-content: flex-end; }

.form__boton-enviar {
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 10px;
  text-align: center;
  background-color: #3d405b;
  padding: 10px 40px;
  color: white; }
  .form__boton-enviar:hover {
    background-color: #e07a5f; }

.form__boton-borrar {
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 20px; }
  .form__boton-borrar:hover {
    text-decoration: underline; }

.newsletter {
  font-size: 1.3rem;
  margin-right: 10px; }

.contacto__h1__a {
  font-weight: 100;
  color: white;
  font-size: 3rem; }
  .contacto__h1__a:hover {
    color: white;
    text-decoration: none; }

.div__h2-fondo-hover {
  background-color: #e07a5f;
  border-radius: 30px;
  height: 80px;
  position: absolute;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px #e07a5f; }
  .div__h2-fondo-hover:hover {
    background-color: #81b29a;
    box-shadow: 0 0 15px #81b29a; }

.contacto__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px; }

@media (max-width: 800px) {
  .contacto__h1__a {
    font-size: 3rem; }
  .div__form-contenedor {
    padding-bottom: 150px;
    padding-top: 150px; }
  form {
    width: 100%;
    padding: 15px; }
  .newsletter {
    font-size: 1rem; } }

@media (max-width: 650px) {
  .contacto__h1__a {
    font-size: 2rem;
    height: 50px; }
  .div__h2-fondo-hover {
    height: 50px;
    border-radius: 10px;
    top: -25px;
    align-items: center; }
  .div__form-contenedor {
    padding-bottom: 50px;
    padding-top: 50px; } }

@media (max-width: 400px) {
  .contacto__h1__a {
    font-size: 1rem;
    height: 25px; }
  .contacto__footer {
    height: 150px; }
  .media__div__h2-margen {
    margin-top: 40px; } }

body {
  font-size: 62.5%; }

header {
  background-color: #f4f1de;
  height: 150px;
  display: flex;
  justify-content: center; }
  header .header__menu-estilo {
    display: flex;
    justify-content: center; }
    header .header__menu-estilo ul {
      list-style: none; }
      header .header__menu-estilo ul li a {
        font-size: 1.1rem;
        color: #3d405b;
        padding: 0 20px 0 20px;
        margin: 10px; }
      header .header__menu-estilo ul li a:hover {
        text-decoration: none;
        color: #e07a5f; }

.nav__bar {
  background-color: #f4f1de;
  width: 100%;
  position: fixed;
  z-index: 100;
  padding-top: 20px; }

.social-bar {
  position: fixed;
  top: 20%;
  right: 0;
  font-size: 1.8rem;
  z-index: 100; }

.icon {
  color: white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.42); }

.icon:hover {
  padding-right: 3rem; }

.icon-instagram {
  background-color: #dd2a7b;
  border-radius: 10px 0 0 0; }

.icon-facebook2 {
  background-color: #2e4063;
  border-radius: 0 0 0 10px; }

/* Footer */
footer {
  height: 100px;
  background-color: black; }

.footer__div__p {
  font-size: 1rem;
  color: white;
  margin-right: 40px; }

h1 {
  color: white; }

h2 {
  font-weight: 100;
  font-size: 3rem; }

@media (max-width: 800px) {
  .nav__bar {
    padding-top: 10px; }
  .img__nav {
    width: 200px; }
  header {
    height: 50px; }
    header .header__menu-estilo ul li a {
      font-size: 2rem;
      font-weight: 100; }
  .footer__div--logo-redondo {
    width: 60px;
    height: 60px; }
  .footer__div__p {
    font-size: .7rem; }
  h2 {
    font-size: 2rem; } }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?w6juj8");
  src: url("fonts/icomoon.eot?w6juj8#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?w6juj8") format("truetype"), url("fonts/icomoon.woff?w6juj8") format("woff"), url("fonts/icomoon.svg?w6juj8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook2:before {
  content: "\ea91"; }

.icon-instagram:before {
  content: "\ea92"; }

.gracias-contenedor {
  height: 100vh;
  padding-top: 10%;
  box-sizing: border-box;
  background-image: url(../imagenes/fondo-contacto.jpg);
  background-size: 100vw;
  background-attachment: fixed; }

.gracias-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(61, 64, 91, 0.8);
  height: 300px;
  border-radius: 10px; }

.boton-consulta {
  width: 200px;
  height: 60px;
  background-color: #81b29a;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px gray; }
  .boton-consulta:hover {
    background-color: #e07a5f; }

.a__gracias {
  font-size: 1.3rem;
  color: white; }
  .a__gracias:hover {
    color: white;
    text-decoration: none; }

.gracias-row {
  margin: 0; }

@media (max-width: 400px) {
  .gracias-contenedor {
    padding-top: 40%; } }
