/*------------ Galeria ------------*/

button{
    margin: 0;
    padding: 0;
}

.galeria--imagen{
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-top: 30px;
}

.galeria--imagen:hover{
    opacity: 70%;
}

.galeria__modal-h500{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.galeria__div__button--estilos{
    background-color: white;
    border: none;
}

.galeria__div__button--estilos:focus{
    outline: none;
}

@media (max-width: 800px) {

    .galeria__modal-h500{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    
    .galeria__modal-mt{
        margin-top: 50%;
    }

}