
body{
    font-size: 62.5%;
}

header{
    background-color: $color-b;
    height: 150px;
    display: flex;
    justify-content: center;

    .header__menu-estilo{
        display: flex;
        justify-content: center;

        ul{
            list-style: none;

            li{
                 
                a{
                    font-size: 1.1rem;
                    color: $color-e;
                    padding: 0 20px 0 20px;
                    margin: 10px;
                }

                a:hover{
                    text-decoration: none;
                    color:$color-c;
                }
            }
        }
    }
}

// nav

.nav__bar{
    background-color: $color-b;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding-top: 20px;
}

.social-bar{
    position: fixed;
    top: 20%;
    right: 0;
    font-size: 1.8rem;
    z-index: 100;
}

.icon{
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
    box-shadow: 0 0 .5rem rgba(255, 255, 255, 0.42);
}

.icon:hover{
    padding-right: 3rem;
}

.icon-instagram{
    background-color: #dd2a7b;
    border-radius: 10px 0 0 0;
}

.icon-facebook2{
    background-color: #2e4063;
    border-radius: 0 0 0 10px;
}


/* Footer */

footer{
    height: 100px;
    background-color: black;
}

.footer__div__p{
    font-size: 1rem;
    color: white;
    margin-right: 40px;
}

// Estilos para H

h1{
    color: white;
}

h2{
    font-weight: 100;
    font-size: 3rem;
}

// Media

@media (max-width: 800px) {

    //nav

    .nav__bar{
        padding-top: 10px;
    }

    .img__nav{
        width: 200px;
    }

    header{

        height: 50px;   

        .header__menu-estilo{
            ul{

                li{
                    a{
                        font-size: 2rem;
                        font-weight: 100;
                    }
                }
            }
        }
    }

// media de footer

    .footer__div--logo-redondo{
        width: 60px;
        height: 60px;
    }

    .footer__div__p{
        font-size: .7rem;
    }

    h2{
        font-size: 2rem;
    }

}
