/* INDEX */

// cartel diseño de interiores

.div-container-fondo{
    background-color: $color-a;
    padding-bottom: 50px;
    padding-top: 100px;
}

.div__bajada--disenio-interiores{
    position: relative;
    padding-bottom: 150px;
    padding-top: 50px;
}

.media__div__img-size{
    opacity: 70%;
}

.p__1-5rem {
    font-size: 1.3rem;
}

.bajada--texto-encima{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Tamaño del recuadro */
    width: 80%;
    height: 45%;
    padding: 1rem 2rem 1rem 2rem;
    /* Tamaño del recuadro */

    background-color: rgba($color: $color-b, $alpha: .8); 
    border-radius: 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation-name: index-bajada;
    animation-duration: 1s;
}

@keyframes index-bajada {
    0% {
      top: 100%; }
    70% {
      top: 35%; }
    100% {
      top: 40%; } 
    }

.index__div__h1-estilos{
    color: black;
    font-weight: 200;
    font-size: 4rem;
}

.div__bajada--font-size{
    font-size: 1.5rem;
}

// bienvenida

.div--contenedor-h2{
    z-index: 50;
    position: relative;
    display: flex;
    justify-content: center;
}

.div__h2-fondo{
    background-color: rgba($color-c, $alpha: 0.9);
    border-radius: 30px;
    height: 120px;
    position: absolute;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// slider bootstrap

.carousel--img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.slider{
    padding: 0;
}

// Index Contacto

.div-titulo-servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px;
    border-color: white;
    height: 100px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(128, 128, 128, 0.5);
    transition: all .5s;
    margin-bottom: 80px; 
}

.div-titulo-servicios:hover {
      box-shadow: 0px 0px 40px white; 
    }
  
  .div-titulo-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px;
    border-color: white;
    height: 100px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(128, 128, 128, 0.5);
    transition: all .5s;
    margin-top: 80px; 
}
    .div-titulo-contacto:hover {
      box-shadow: 0px 0px 40px white; 
}
  
  .titulo-servicios {
    color: white;
    font-weight: 700; 
}
  
  .titulo-contacto {
    color: white;
    font-weight: 700;
    font-size: 1.5rem; 
}
  
  .div__icon-p {
    font-size: 3rem;
    color: white;
    font-weight: 900;
    margin: 0; 
}
  
  .div__icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: solid 2px;
    border-color: white;
    border-radius: 75px;
    margin-top: 20px; 
}
  
  .div__p__icon-bajada {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    color: white; 
}
  
  .index__contacto {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #e07a5f; 
}
  
  .index__contacto-imgsize {
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: .7; 
}
  
  .index__contacto-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; }

.div__col{
    padding: 0;
}

// Medias

@media (max-width: 1050px) {
    .index__contacto{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 800px) {

    // bienvenida

    .media__div__h2{
        font-size: 1.2rem;
    }

    .div__h2-fondo{
        height: 70px;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;
        top: -35px;
    }
    
    .carousel--img{
        height: 250px;
    }
    
    .div__bajada--disenio-interiores{
        padding-top: 20px;
        padding-bottom: 70px;
    }

    .bajada--texto-encima{
        height: 40%;
    }

    .media__div__img-size{
        height: 450px;
        width: 100%;
        object-fit: cover;
    }

    .div__bajada--font-size{
        font-size: 1rem;
    }
    
    .index__div__h1-estilos{
        font-weight: lighter;
        font-size: 1.7rem;
    }

    .p__1-5rem {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    .bajada--texto-encima{
        height: 60%;
    }
}