/* INDEX */

.prueba{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $color-e;
    display: flex;
    justify-content: center;
    align-items: center;
}

// slider bootstrap

.carousel--img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.slider{
    padding: 0;
}

// bienvenida

.div--contenedor-h2{
    z-index: 50;
    position: relative;
    display: flex;
    justify-content: center;
}

.div__h2-fondo{
    background-color: $color-c;
    border-radius: 30px;
    height: 120px;
    position: absolute;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px $color-c;
}

// cartel diseño de interiores

.div-container-fondo{
    background-color: $color-a;
    padding-bottom: 50px;
}

.div__bajada--disenio-interiores{
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bajada--texto-encima{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Tamaño del recuadro */
    width: 80%;
    height: 45%;
    padding: 1rem 2rem 1rem 2rem;
    /* Tamaño del recuadro */

    background-color: rgba($color: white, $alpha: 0.8); 
    border-radius: 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.index__div__h1-estilos{
    color: black;
    font-weight: lighter;
    font-size: 4rem;
}

.div__bajada--font-size{
    font-size: 1.5rem;
}

/* FIN INDEX */

@media (max-width: 800px) {

    /* INDEX */

    // bienvenida

    .media__div__h2{
        font-size: 1.2rem;
    }

    .div__h2-fondo{
        height: 70px;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;
        top: -35px;
    }

    //
    
    h1{
        font-size: 1rem;
    }

    .carousel--img{
        height: 250px;
    }
    
    .div__bajada--disenio-interiores{
        height: 600px;
    }

    .bajada--texto-encima{
        height: 50%;
    }

    .media__div__img-size{
        height: 450px;
        width: 100%;
        object-fit: cover;
    }

    .div__bajada--font-size{
        font-size: 1rem;
    }
    
    .index__div__h1-estilos{
        font-weight: lighter;
        font-size: 2rem;
    }


}