// Nosotros

.div-backcolor{
    background-color: $color-b;
}

.div-padding{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.bajada__contenedor--img{
    height: 400px;
    width: 100%;
    background-image: url(../imagenes/cocina-index-1.jpg);
    background-attachment: fixed;
}

.bajada--texto{
    height: 100px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
}

.div__p-size{
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}

.nosotros__div-color-fondo{
    background-color: $color-a;
}

.img-contacto{
    height: 300px;
    margin-top: 50px 0;
}

// CONTACTO 

// Formulario Contacto

.div__form-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../imagenes/fondo-contacto.jpg);
    background-size: 100vw;
    background-attachment: fixed;
    height: 100vh;
}

form{
    width: 70%;
    background-color: rgba($color: $color-a, $alpha: .9);
    padding: 20px 100px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 5px 10px gray;
}

@mixin input {
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    width: 100%;
}

.div-input{
    @include input;
}

textarea{
    @include input;
    max-width: 100%;
    min-height: 100px;
    max-height: 400px;
}

.contacto__div-botones{
    display: flex;
    justify-content: flex-end;
}

@mixin boton {
    border: none;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
}

.form__boton-enviar{
    @include boton;
    background-color: $color-c;
    padding: 10px 40px;
    color: white;
    transition: all .5s;

    &:hover{
        box-shadow: 0 0 20px (white)
    }
}

.form__boton-borrar{
    @include boton;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 20px;

    &:hover{
        text-decoration: underline;
    }
}

.newsletter{
    font-size: 1.3rem;
    margin-right: 10px;
}

// cartel visitar redes sociales

.contacto__h1__a{
    font-weight: 100;
    color: white;
    font-size: 3rem;

    &:hover{
        color: white;
        text-decoration: none;
    }
}

.div__h2-fondo-hover{
    background-color: $color-c;
    border-radius: 30px;
    height: 80px;
    position: absolute;
    top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px $color-c;

    &:hover{
        background-color: $color-a;
        box-shadow: 0 0 15px $color-a;
    }
}

.contacto__footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
}

// Termina CONTACTO 

@media (max-width: 800px) {

    .contacto__h1__a{
        font-size: 3rem;
    }

        // formulario

        .div__form-contenedor{
            padding-bottom: 150px;
            padding-top: 150px;
        }

        form{
            width: 100%;
            padding: 15px;
        }
    
        .newsletter{
            font-size: 1rem;
        }
}

@media (max-width: 650px) {

    .contacto__h1__a{
        font-size: 2rem;
        height: 50px;
    }

    .div__h2-fondo-hover{
        height: 50px;
        border-radius: 10px;
        top: -25px;
        align-items: center;
    }

    .div__form-contenedor{
        padding-bottom: 50px;
        padding-top: 50px;
    }

}

@media (max-width: 400px) {

    .contacto__h1__a{
        font-size: 1rem;
        height: 25px;
    }

    .contacto__footer{
        height: 150px;
    }

    .media__div__h2-margen{
        margin-top: 40px;
    }

}