
$color-a: #81b29a;
$color-b: #f4f1de;
$color-c: #e07a5f;
$color-d:#f2cc8f;
$color-e: #3d405b;

// linkeos


@import "index";
@import "servicios";
@import "galeria";
@import "nosotros-contacto";
@import "header-footer";
@import "redes";
